* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
}
.App {
  text-align: center;
  height: 100vh;
  background: #fafafa;
}

.header {
  padding: 3rem;
  background-color: #282c34;
  min-height: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 1rem;
}

.header-title {
  margin-right: 5rem;
}

.header-link {
  cursor: pointer;
  margin: 0 2rem;
}

.dashboard{
  margin: 1rem 0;
}

.home-content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: black;
  font-weight: bold;
}

.form-user {
  width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}
.input-user {
  padding: 0.5rem;
  margin: 0.4rem 0rem;
  width: 100%;
}

.button-submit {
  width: 8rem;
  margin: 1rem auto;
  background: gray;
  border-radius: 11px;
  padding: 8px;
  color: beige;
  font-size: 14px;
}

.input-content {
  display: flex;
}

.invalid-data {
  width: 15rem;
  margin: auto 0rem auto 1rem;
  background: red;
  padding: 5px;
  animation: menus 100ms ease-in-out;
  animation-direction: alternate;
  border-radius: 10px;
}

@keyframes menus {
  from {
    width: 1rem;
    font-size: 1px;
  }
  to {
    width: 15rem;
  }
}

.gray-img {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background: gray;
}

.button-type {
  margin: 1rem auto;
  padding: 0.5rem;
  border-radius: 11px;
  font-size: 16px;
  color: white;
  font-weight: 600;
  outline: none;
}

.button-red {
  background: red;
  width: 12rem;
}

.button-green {
  background: green;
  width: 7rem;
}

@media screen and (max-width: 600px) {
  .gray-img {
    width: 300px;
    height: 300px;
  }
  .form-user {
    width: 100%;
  }
  .header-link {
    margin: 0 0.3rem;
  }
  .input-content {
    width: 90%;
    margin: 0.5rem auto;
  }
}
